HELP.md
.gradle
ngrok
build/
website_stat.db
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
logErrors.txt
myLogs.txt
api_doc.md


src/main/resources
src/main/java/com/tapp/api/v1/utils/Credentials.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
